@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,500&display=swap');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color: rgb(28, 24, 24);
    color: rgb(148, 190, 227);
    background-image: url(./assets/bg2.jpg);
}
section{
    height:100vh;   
}
a{
    font-size: small;
    font-style: italic;
    font-weight: 400;
    color: rgb(241, 241, 241);
    padding:2mm;
}
a:hover{
    font-size: 0.8rem;
    color :rgb(73, 77, 179);
}
.btn{
    width: max-content;
    padding:2mm;
    display: inline-block;
    margin:1mm;
    background-color:rgb(96, 161, 218);
    border-radius: 1mm;
    border:1px solid rgb(148, 190, 227);
}


@media screen and (max-width:1024px){
    header{
        width:100vw;
    }
    section{
        height: 160vh;
        width: 100vw;
    }
    #Experience{
        height: 200vh;
    }
    nav{
        display: none;
    }
    .skillpage{
        width: 90vw;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:650px){
    section{
        height: 110vh;
        width: 100vw;
    }
    #About{
        height:150vh;
    }
    header{
        width:100vw;
    }
    #Experience{
        height: 140vh;
    }
    .skillpage{
        width: 70vw;
        flex-wrap: wrap;
        justify-content: center;
    }
   .contactcard{
    flex-wrap: wrap;
   }
   .contactcard .card{
    text-align: left;
    width: 70vw;
   }
}
@media screen and (max-width:450px){
    section{
        height: 110vh;
        width: 100vw;
    }
    #About{
        height:230vh;
    }
    header{
        width:100vw;
    }
    #Experience{
        height: 240vh;
    }
    #Skills{
        height : 130vh;
    }
    .skillpage{
        width: 95vw;
        flex-wrap: wrap;
        justify-content: center;
    }
   .contactcard{
    flex-wrap: wrap;
   }
   .contactcard .card{
    text-align: left;
    width: 100vw;
   }
}